.resizer {
    display: inline-block;
    background: black;
    width: 3px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
    touch-action: none;
}

.isResizing {
    background: red;
}