.btn-add {
  border: 1px solid #476356;
  padding: 10px 15px;
  background-color: #85a979;
  color: #f6f6d9;
  border-radius: 3px;
  margin: 0 5px;
}
.btn-add:disabled {
  background-color: rgb(244, 239, 239);
  color: #476356;
  cursor: not-allowed;
  box-shadow: none;
}

.btn-add:hover,
.btn-add:active,
.btn-add:focus {
  transform: scale(1.1);
  background-color: #85a979;
}
